/* ====== RESET Y VARIABLES ====== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --background-color: #0f0804;
    --background-main:#5f4327a6;
    --background-info:#27150a;
    --text-color: #eaeaea;
    --border: #eed09d4d;
    --links: #eed09d;
    --links-selected: #eed09dc4;
    --selected-b: #2b2015;
  }

  /* ====== LAYOUT GENERAL ====== */

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    line-height: 1.6;
    color: var(--text-color);
  }

  main {
    padding: 40px 0;
    background-color: var(--background-main);
    margin: 0 auto;
    width: 95vw;
  }

  .b-image {
    position: fixed;
    top: 0;
    background-image: url(../images/tapa.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 100vh;
    width: 95vw;
    z-index: -1;
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

/* ====== HEADER Y NAVBAR ====== */

  .celNav {
    display: none;
  }

  /* Aside */
  aside ul{
    min-height: 100vh;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #e4e4e40c;
    margin: 0 auto;
  }

  aside li:last-child {
    margin-top: auto;
  }
  aside li a{
    display: table;
  }

  .active {
    background-color: var(--background-color);
    border-right: 2px solid var(--links-selected);
  }

  header {
    border-bottom: 1px solid var(--links);
    box-shadow: 0px 3px rgba(17, 10, 3, 0.596);
    margin: 1em auto 4.5em;
  }

  .hidden {
    visibility: hidden !important;
  }

  hr {
    height: 3px;
    border: none;
    background-color: var(--border);
  }
  nav {
    margin-bottom: 20px;
  }

  .navbar{
    display: none;
  }

  header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

  header li:last-child {
    margin-left: auto;
  }

  a {
    font-size: 0.8em;
    text-decoration: none;
    color: var(--links);
    padding: 1rem 2rem;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    width: 100%;
  }

  a:hover ,
  a.selected {
    background-color: var(--background-color);
  }

  ul {
    position: relative;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 2em;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    border: 2px solid var(--links-selected);
    border-radius: 50%;
    padding: 1.6em 0;
  }

  .logo a:hover {
    background-color: transparent;
  }

   .logo img {
    width: 4.6em;
    margin-top: 0.5em;
    margin-right: 0.2em;
   }

   /* ====== SECCIÓN PRINCIPAL ====== */


  .banner {
    height: auto;
    position: relative;
  }
  
  .banner img {
    width: 95vw;
    margin: 0 auto;
    /* border: 10px solid var(--border); */
    /* opacity: 0;
    transition: visibility 1s, opacity 1s ease-in; */
  }

 .icon-link {
    height: 49px;
    width: 49px;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 50;
  }

  .icon-link:hover {
    background-color: transparent;
  }

  .icon-link.ig {
    bottom: 7.5vh;
    left: 3.9vw;
  }
  
  .icon-link.wp {
    bottom: 7.5vh;
    left: 9.4vw;
  }

  #images a:hover{
    background-color: #0f08045b;
  }
  

  /* .active-banner{
    visibility: visible !important;
    opacity: 1 !important;
  } */


  /* Modal */

  .modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }

  .modal.active{
    opacity:1;
    pointer-events: auto;
  }

  .modal.active img{
    max-width: 80vw;
    max-height: 100vh;
    transition: opacity 0.5s ease-in-out;
  }

  .modal:not(.active) img {
    opacity: 0;
  }

  .modal .btn{
    position: absolute;
    top:20px;
    right:20px;
    color:#fff;
    font-weight: bolder;
    background-color: transparent;
    border:0;
    font-size: 35px;
    cursor: pointer;
  }

  /* Articles */

  .articles {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 8rem;
  }
  article {
    margin-bottom: 10rem;
  }

  
  article > hr {
    margin-bottom: 4rem;
    margin-top: 1rem;
    background-color: var(--links-selected);
  }

  article > h2 {
    letter-spacing: 1.5px;
    color: var(--selected-b);
    text-transform: uppercase;
    text-shadow: 1px 0 #eed09d, -1px 0 #eed09d, 0 1px #eed09d, 0 -1px #eed09d,
               1px 1px #eed09d, -1px -1px #eed09d, 1px -1px #eed09d, -1px 1px #eed09d;
  }

  /* #nosotros  h3 {
    color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5em;
  } */

  #nosotros  p {
    margin-bottom: 2rem;
    text-align: justify;
  }

  .desktop-text {
    display: block; /* Visible por defecto */
  }

  .mobile-text {
    display: none; /* Oculto en desktop */
  }

  .muebles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  .mueble {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 370px;
    margin-top: 3rem;
    border: 3px solid var(--links-selected);
    padding: 2rem;
    background-color: var(--selected-b);
  }

  .mueble > img {
    max-width: 97%;
    border: 2px solid var(--links-selected);
    box-shadow: 5px 5px #00000015;
    margin: 0 auto;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: border-color 0.4s ease-in-out;
  }

  .mueble > img:hover {
    border-color: var(--text-color);
  }

  .mueble-info  p {
    font-family: "Merriweather", serif;
    font-size: clamp(0.9rem, 1.6vw, 1.1rem);
    max-height: none;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }

  .mueble-info button {
    display: none;
    font-size: clamp(0.9rem, 1.4vw, 1rem);
  }

  .bullet {
    color: var(--links-selected);
  }

  #toggleText{
    display: none;
  }

  /* Form*/


  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    justify-self: center;
  }

  form label {
    font-weight: bold;
    align-self: center;
    text-transform: uppercase;
    color: var(--text-color);
  }

  form input {
    color: var(--text-color);
    width: 500px;
    padding: 1em;
    border: 2px solid var(--links-selected);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--background-color);
    color: white;
  }


  form textarea {
    color: var(--text-color);
    width: 500px;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid var(--links-selected);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--background-color);
    resize: none;
  }

  form button {
    padding: 1rem 1.5rem;
    background-color: #3a3530;
    color: var(--links-selected);
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5rem;
    margin-left: auto;
    cursor: pointer;
  }

  .error-message {
    color: var(--selected-b);
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .input-error {
      border: 2px solid #9a2a2a !important;
      background-color: #9a2a2a2a;
  }

/* ====== FOOTER ====== */

  footer {
    padding: 80px;
    text-align: center;
    background-color: #3a3530;
    width: 95vw;
    margin: 0 auto;
  }

  footer > div {
    display: flex;
    justify-content: center;
  }

  footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 2em;
  }
  

  footer svg {
    width: 35px;
  }

  footer .fb {
    filter: invert(36%) sepia(89%) saturate(3347%) hue-rotate(213deg) brightness(99%) contrast(95%);
  }

  footer .ig {
    filter: invert(36%) sepia(48%) saturate(1009%) hue-rotate(297deg) brightness(97%) contrast(89%);
  }

  footer .wp {
    filter: invert(82%) sepia(73%) saturate(2180%) hue-rotate(67deg) brightness(89%) contrast(86%);
  }


  /* Back to top button */

  #backToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    background-color: var(--background-color);
    color: var(--links);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }
  
  #backToTop:hover {
    background-color: #555;
  }




  /* SCREEN: 1300PX */

  @media only screen and (max-width: 1300px) {

    /* Nav */

    header  {
      margin-bottom: 10em;
    }

    .logo {
      top: 8em;
    }

    aside ul {
      max-width: 270px;
    }

    /* Banner */

    .icon-link {
      height: 34px;
      width: 34px;
    }
  
    .icon-link.ig {
      bottom: 7.6vh;
      left: 4vw;
    }
    
    .icon-link.wp {
      bottom: 7.6vh;
      left: 9.5vw;
    }

    /* Articles */
    .articles {
      width: 52vw;
    }
    
    .mueble {
      max-width: 600px;
      margin: 3em auto;
    }

    /* Contacto */
    
    
    label {
      margin-bottom: 5px;
    }
    
    
    textarea, input {
      resize: vertical;
      color: var(--text-color);
    }

  }







   /* Media screen = 1100pc */

   /* @media only screen and (max-width: 1150px){


  .icon-link.ig {
    bottom: 6.5vh;
    left: 3.7vw;
  }
  
  .icon-link.wp {
    bottom: 6.5vh;
    left: 9.2vw;
  }

   } */






  /* Media screen = 1024px */

  @media only screen and (max-width: 1024px) {

    /* Nav */

    header {
      margin-bottom: 5em;
    }

    .navbar {
      opacity: 0.95;
      display: block;
    }

    .navbar-container {
      display: block;
      position: relative;
      height: 6px;
      margin-top: -30px;
      margin-bottom: 30px;
    }

    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 35px;
      top: 15px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }

    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .navbar-container input[type="checkbox"]:hover {
      cursor: pointer;
    }

    .navbar-container .hamburger-lines .line {
      display: block;
      height: 6.5px;
      width: 100%;
      border-radius: 10px;
      background: var(--text-color);
      margin-bottom: 3px;
    }

    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      color: var(--links);
      padding-top: 100px;
      background-color: #666f88e5;
      height: 100vh;
      transform: translate(-150%);
      display: table;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px var(--background-main);
    }
  
    .navbar .menu-items li {
      margin-bottom: 2rem;
    }

    .navbar .menu-items li a {
      display: table;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }
  

    .desktopNav li:not(.logo){
      display: none;
    }

    .logo {
      top: 2em;
      padding: 1.8em 0;
    }
    
    .logo img {
      width: 5em;
    }

    aside ul{
      display: none;
    }


    /* Banner */

    .banner {
      display: none;
    }


    /* Articles */

    .articles {
      width: 70vw;
    }

    .mueble {
      max-width: 800px;
    }

    #nosotros p {
        text-align: left; /* Alinea a la izquierda para evitar separación desigual */
        hyphens: auto; /* Permite cortes de palabras si es necesario */
        word-spacing: normal; /* Corrige separación excesiva entre palabras */
        line-height: 1.7; /* Mejora la lectura en dispositivos medianos */
    }
    /* Form */
    

    /* Footer */

    

  }






  /* Media screen = 768px */

  @media only screen and (max-width: 768px) {


    /* Banner */

    .banner {
      display: none;
    }


    /* Articles */

    .articles {
      width: 80vw;
    }
    
    article > p {
      margin-bottom: 1em;
    }

    .desktop-text {
      display: none;
    }

    .mobile-text {
      display: block;
    }

    .mueble {
      max-width: 650px;
    }

    .muebles-container {
      justify-content: center;
      align-items: center;
    }

    .mueble-info p {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
    }


    .mueble-info button {
        display: block;
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        color: #a67c52;
        margin-top: 5px;
    }

    .nosotros-text {
      max-height: 15rem;
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
    }

    .nosotros-text.expanded {
      max-height: 150rem;
    }


    #toggleText {
        display: block;
        margin-top: 10px;
        background: none;
        border: none;
        color: var(--links);
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
    }

    #toggleText:hover {
      color: var(--links-selected);
    }


      /* Form */

      label {
        font-weight: 0.5em;
        margin-bottom: 1em;
      }

      input {
        max-width: 350px;
        align-self: center;
        max-height: 40px;
      }

      textarea { 
        max-width: 350px;
      }

      button {
        margin: 0 auto;
      }


      /* Footer */
    
  }





/* Media screen = 480px */

@media (max-width: 480px) {

  .mueble {
    max-width: 320px;
  }

  .mueble-info h3 {
    font-size: 1em;
  }

  form input, form textarea {
    width: 95%;
    max-width: 340px;
    padding: 1em;
    display: block;
    margin: 0 auto;
  }

  form textarea {
    width: 97%;
  }

  #backToTop {
    bottom: 10px;
    right: 10px;
  }
}